[submodule "external/CImg"]
	path = external/CImg
	url = https://github.com/dtschump/CImg
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/tinyexr"]
	path = external/tinyexr
	url = git@github.com:syoyo/tinyexr.git
